<!-- navigation bar -->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1><a class="main-title" routerLink="">Unbeatable Tic-Tac-Toe</a></h1>
    <span class="menu-spacer"></span>
    <div>
      <button mat-button (click)="newGame()">Start Over</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<!-- board  -->
<table class="board">
  <tbody>
    <tr *ngFor="let row of board.board">
      <td *ngFor="let position of row" (click)="selectPosition(position)">
        <div class="container">
            <img class="board-element" [src]="images[position]" onerror='this.style.display = "none"'> 
        </div>
      </td>
    </tr>
  </tbody>
</table>